{% extends 'calculator/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">About This Project</h1>

    <div class="alert alert-secondary mt-4">
        <p>
            I am a software tester with a focus primarily on embedded systems. This project is being developed for educational purposes to expand my skills in web development and software testing related to web technologies.
        </p>
        <p>
            The site uses a script I created to manage the overpayment of my own loan. If time allows, I plan to further develop this project, and who knows—it may eventually be published somewhere (that’s the plan for now)!
        </p>
        <p>
            So, wish me luck! 😊
        </p>
    </div>
</div>
{% endblock %}
