{% extends 'calculator/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Welcome to the Loan Overpayment Tool</h1>
    <p class="lead text-justify">
        This site was created to help borrowers understand the benefits of overpaying a mortgage loan, showing how small overpayments can turn into significant savings that minimize the huge profits of banks. By entering your loan details, we will show you how much you can save.
    </p>
    <p class="text-justify">
        While overpaying a loan requires financial surpluses that not everyone may have, we can all find ways to cut small expenses – like unused subscriptions, a pack of cigarettes, an extra piece of clothing gathering dust in the closet, or other unnecessary spending. This site is here to show you that these small changes can significantly reduce the cost of your loan and allow you to enjoy being debt-free much faster.
    </p>
    <p class="text-justify">
        Don’t let the bank win. Don’t be the bank’s ideal customer – pay off your loan as quickly as you can.
    </p>
</div>
{% endblock %}
